# Task 3 :- Car Price Prediction With Machine Learning

In [1]:
# Importing necessary libraries

import numpy as np
import pandas as pd

In [4]:
# Reading the dataset

df=pd.read_csv('car.csv')

In [5]:
df.sample(5)

,name,company,year,Price,kms_driven,fuel_type
450,Mahindra Scorpio S10,Mahindra,2015,"9,00,000","97,200 kms",Diesel
288,Mahindra Quanto C8,Mahindra,2013,"3,40,000","37,000 kms",Diesel
661,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2016,"3,80,000","27,000 kms",Petrol
117,Maruti Suzuki Ritz VXI,Maruti,2014,"2,99,999","19,000 kms",Petrol
191,Maruti Suzuki Ciaz VXi Plus,Maruti,2016,"7,00,000","3,350 kms",Petrol

In [6]:
backup=df.copy()

In [7]:

df.describe()

              name company  year          Price  kms_driven fuel_type
count          892     892   892            892         840       837
unique         525      48    61            274         258         3
top     Honda City  Maruti  2015  Ask For Price  45,000 kms    Petrol
freq            13     235   117             35          30       440

In [8]:
#checking for Null Values

df.isna().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [9]:
# Removing the Null data

df=df[~df['fuel_type'].isna()]

In [10]:
# Reseting the index after droping

df.reset_index(drop=True)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
832,Maruti Suzuki Ritz VXI ABS,Maruti,2011,"2,70,000","50,000 kms",Petrol
833,Tata Indica V2 DLE BS III,Tata,2009,"1,10,000","30,000 kms",Diesel
834,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
835,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
836,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel

In [11]:
# Removing non year from Year Column

df=df[df['year'].str.isnumeric()]

In [12]:
# Making year as numeric

df['year']=df['year'].astype(int)

In [13]:
# Changing "Ask for Price" rather removing them from price column

df=df[df['Price']!="Ask For Price"]

In [14]:
# Making price as int type

df['Price']=df['Price'].str.replace(',','').astype(int)

In [15]:
# Removing "," & "kms" from kms-driven column

df['kms_driven']=df['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [16]:
# Making kms_driven column as int type

df=df[df['kms_driven'].str.isnumeric()]
df['kms_driven']=df['kms_driven'].astype(int)

In [17]:
# Slicing the car name to 3 words only

df['name']=df['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [18]:
df.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6               Ford Figo      Ford  2012  175000       41000    Diesel

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [20]:
# Restetting the indexes again

df.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [21]:
# Statistical analysis

df.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [22]:
# Outlier removal

df=df[df['Price']<6e6].reset_index(drop=True)
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [23]:
# Make separate input and output data colums

x=df.drop(columns='Price')
y=df['Price']

In [24]:
# Differentiate training and testing data

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [25]:
y_train.head()

278    340000
209    580000
596    750000
773    395000
780    130000
Name: Price, dtype: int32

In [26]:
x_train.head()

                    name   company  year  kms_driven fuel_type
278   Mahindra Quanto C8  Mahindra  2013       37000    Diesel
209   Force Motors Force     Force  2015        3200    Diesel
596    Toyota Innova 2.5    Toyota  2011      147000    Diesel
773  Maruti Suzuki Wagon    Maruti  2016       20000    Petrol
780       Mahindra Logan  Mahindra  2009       65000    Diesel

In [27]:
#'name','company','fuel_type' columns are categorical so we need to make them numeric

from sklearn.preprocessing import OneHotEncoder, StandardScaler
df1=OneHotEncoder()
df1.fit(df[['name','company','fuel_type']])

OneHotEncoder()

In [29]:
from sklearn.compose import make_column_transformer
column_trans= make_column_transformer((OneHotEncoder(categories=df1.categories_),['name','company','fuel_type']),remainder='passthrough')

In [33]:
# Applying necessities for models

from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error,r2_score

import math
from sklearn.pipeline import make_pipeline

In [38]:
# XGB regressor

xgbr=XGBRegressor()
pipe=make_pipeline(column_trans,xgbr)
pipe.fit(x_train,y_train)
y_pred_xgbr=pipe.predict(x_test)
r2=r2_score(y_test,y_pred_xgbr)
r2

0.5575342121790274

In [39]:
# let's run XGBRegression for 50 times and store the highest scores

score=[]
for i in range(50):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    xgbr=XGBRegressor()
    pipe=make_pipeline(column_trans,xgbr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    score.append(r2_score(y_test,y_pred))

In [40]:
score[np.argmax(score)]

0.8906548815926204

In [41]:
# Saving according to the best item

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=np.argmax(score))
xgbr=XGBRegressor()
pipe=make_pipeline(column_trans,xgbr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8906548815926204

In [42]:
# Testing our model prediction

pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],
            columns=['name','company','year','kms_driven','fuel_type'])) 

# original ans is 530000

array([509487.44], dtype=float32)

In [43]:
pipe.predict(pd.DataFrame([['Ford Figo','Ford',2014,175000,'Diesel']],
            columns=['name','company','year','kms_driven','fuel_type'])) 

# original ans is 400000

array([331468.97], dtype=float32)

In [46]:
# Saving the model

import pickle

In [47]:
pickle.dump(pipe,open('car_price.pkl','wb'))